<main>
  <div class="count_display">
    <span class="input_counter">{{list_count}}</span>
  </div>

  <div class="queue_list">
    <p>Queue List</p>

    <div class="info_header">
      <span>Waiting No</span> <span>Person Name</span>
    </div>

    <div class="list_names_container">
      @for(list of list_details; track list){
      <div class="list_names">
        <span>{{list.waiting_no}}</span> <span>{{list.name}}</span>
      </div>
      }
    </div>
  </div>
</main>

<footer>
  <!-- <div class="counter-buttons">
      <button mat-button (click)="counter(-1)"><i class="fa-solid fa-minus"></i></button>
      <button mat-button (click)="counter(1)"><i class="fa-solid fa-plus"></i></button>
    </div>
    <div class="submit-button">
      <button mat-flat-button>ADD TO QUEUE</button>
    </div> -->
  <div class="add_remove_btns">
    <button mat-button class="remove" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Remove</button>
    <button mat-flat-button class="add" (click)="openBottomSheet()">Add</button>
  </div>
</footer>

<!-- Remove Confirmation Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to remove a person from the queue?</p>
        <div class="confirm_close_btn">
          <button mat-button class="no primary_button" data-bs-dismiss="modal" id="close">No</button>
          <button mat-flat-button class="yes primary_button" (click)="removePerson()">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>